<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413706645745-n9i0p0qf0lt1p1pqdveloc7njjmeh1ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413706645745-n9i0p0qf0lt1p1pqdveloc7njjmeh1ka</string>
	<key>API_KEY</key>
	<string>AIzaSyB4GX5S-wUlYmXJBhfKc3OOMm36_PfSRIk</string>
	<key>GCM_SENDER_ID</key>
	<string>413706645745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jettnetProject</string>
	<key>PROJECT_ID</key>
	<string>jetnett-proje</string>
	<key>STORAGE_BUCKET</key>
	<string>jetnett-proje.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413706645745:ios:0d9e2fa72694d42c0a7950</string>
</dict>
</plist>